@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model TransportManagementSystem.ViewModels.AccountViewModel
<!DOCYTPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    <style>
        .section {
            border: 10px solid gray;
            height: 50vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .Parent-div{
            border:10px solid gray;
            max-width:700px;
            width:100%;
            margin:auto;
            height:50vh;
            display:flex;
            align-items:center;
            margin-top:200px;
            justify-content:center;
        }
        h1{
            font-size:500px:
        }
       
    </style>
</head>
<body>
    @using (Html.BeginForm("Login", "Account"))
    {
        <div class="Parent-div">
                <table class="Child-div" cellpadding="2" cellspacing="2">
                    <tr class="text-center">
                        <td><h1>ADMIN LOGIN</h1></td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.account.UserName)</td>
                        <td>@Html.TextBoxFor(model => model.account.UserName)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.account.Password)</td>
                        <td>@Html.PasswordFor(model => model.account.Password)</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" value="Login" /></td>
                    </tr>
                </table>
            </div>
        

        
            <!--<div class="container">
                <div class="row">
                    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                        <div class="card card-signin my-5">
                            <div class="card-body">
                                <h5 class="card-title text-center">Sign In</h5>
                                <form class="form-signin">-->
                                    @*<div class="form-label-group">
            <input type="text" id="UserName" class="form-control" placeholder="Enter UserName" required autofocus>
            <label for="inputEmail">Email address</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="Password" class="form-control" placeholder="Password" required>
            <label for="Password">Password</label>
        </div>*@
  
                                    <!--<div class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Remember password</label>
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        


    }


</body>
</html>

