@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome To Transport Management System</h1>
    <p>A One Stop Solution For Your Transport Management</p>
</div>
